.row.mb-3
  .col-10.offset-1.col-sm-8.offset-sm-2.col-md-6.offset-md-3.col-lg-4.offset-lg-4
    %form{action: create_or_update_entry_action(@entry), method: :post}
      != csrf_tag(create_or_update_entry_action(@entry))

      %a.no-decoration.mb-3{href: "/batches"}
        .alert.alert-primary.w-50.mx-auto.text-center
          = @current_batch.name
          %br
          Target: #{@current_batch.target}

      .form-group.mb-3
        %label.form-label{for: "day"} Day
        %input.form-control{type: :date, id: "day", name: "day", value: @entry.day || Date.today}

      .form-group.mb-3
        %label.form-label{for: "weight"} Weight
        %input.form-control{type: :number, id: "weight", name: "weight", min: 20, max: 1000, step: 0.1, autofocus: true,
          value: @most_recent_weight || @entry.weight.to_f || 50}
      
      .form-group.mb-3
        %label.form-label{for: "note"} Note
        %textarea.form-control{id: "note", name: "note", rows: '5', cols: '3'}= @entry.note

      %input.form-control.btn.btn-primary{type: :submit, value: "Validate"}
