%footer.mt-auto.py-1.bg-light
  %p.text-center
    %img{src:"/images/weight-scale.png", alt: "Weight Tracker Logo", width: "18", height: "18", class: "d-inline-block"}
    Weight Tracker - Created by Laurent Guinotte - 2022 - Copyright - MIT
  %p.text-center
    Weight scale icons created by
    %a{href: "https://www.flaticon.com/free-icons/weight-scale", title: "weight scale icons" } Freepik - Flaticon
    from
    %a{ href: 'https://www.flaticon.com/', title: 'Flaticon'} www.flaticon.com