- @page_title = @account.user_name

%h2.w-250.mt-50.center-block.center-text.fs-2.bg-gold.white.p-15 Profile

.mt-50.w-250.center-block
  .center-text
    %p.bold Username
    %p.mt-10= @account.user_name
  .center-text.mt-30
    %p.bold Email:
    %p.mt-10= @account.email

%h2.w-200.center-block.mt-40.center-text Options

%ul.mt-20.w-200.center-block
  %a{href: "/auth/change_user_name"}
    %li.btn.bg-primary.white  Change User Name
  %a{href: rodauth.change_login_path}
    %li.mt-10.btn.bg-primary.white  Change Email
  %a{href: rodauth.change_password_path}
    %li.mt-10.btn.bg-primary.white Change Password
  %li.mt-10.btn.bg-warning
    %form{action: rodauth.logout_path, method: :post}
      != csrf_tag(rodauth.logout_path)
      %input.block.w-150.center-block.bg-warning.center-text.white{type: :submit, value: "Log Out"}
  %a{href: rodauth.close_account_path}
    %li.mt-30.btn.bg-danger.white Close Account


