- @page_title = @account.user_name

%h2.w-250.mt-50.center-block.center-text.fs-2.bg-gold.white.p-15 Profile

.mt-50.w-250.center-block
  .center-text
    %p.bold Username
    %p.mt-10= @account.user_name
  .center-text.mt-30
    %p.bold Email:
    %p.mt-10= @account.email

%h2.w-200.center-block.mt-40.center-text Options

%ul.mt-20.w-200.center-block
  %li
    %a.block.btn.bg-primary.white{href: "/auth/change_user_name"} Change User Name
  %li
    %a.block.mt-10.btn.bg-primary.white{href: rodauth.change_login_path} Change Email
  %li
    %a.block.mt-10.btn.bg-primary.white{href: rodauth.change_password_path} Change Password
  %li
    %a.block.mt-10.btn.bg-primary.white{href: "/accounts/security_log"} Security Log
  %li.mt-10.btn.bg-warning
    %form{action: rodauth.logout_path, method: :post}
      != csrf_tag(rodauth.logout_path)
      %input.block.w-150.center-block.bg-warning.center-text.white{type: :submit, value: "Log Out"}
  %li
    %a.block.mt-30.btn.bg-danger.white{href: rodauth.close_account_path} Close Account


