.rodauth
  .container-fluid
    %a.d-block.btn.btn-secondary.w-75.mx-auto.mb-5{href: "/account"} Back to Account

    %h3.text-center.mb-5 Recovery Codes
    -  if rodauth.can_add_recovery_codes?
      .dropdown.mb-5
        %button.d-block.btn.btn-success.dropdown-toggle.w-75.mx-auto#dropdownMenuButton{type: "button", "data-bs-toggle" => "dropdown", "aria-expanded" => false}
          Refill your recovery codes ?
        %ul.dropdown-menu{"aria-labelledby" => "dropdownMenuButton"}
          %li.no-print.dropdown-item!= rodauth.render('recovery-codes')
    .no-print.mb-5
      .row.justify-content-center
        .col
          %button.d-block.btn.btn-primary.w-50.mx-auto#print Print
        .col
          %button.d-block.btn.btn-primary.w-50.mx-auto#copy Copy
  
    %pre#recovery-codes= rodauth.recovery_codes.map{ |s| h s }.join("\n\n")

- content_for :js, assets([:js, :recovery_codes])
