%form.rodauth#change-password-form{action: rodauth.change_password_path, method: :post, role: "form"}
  
  != csrf_tag(rodauth.change_password_path)
  
  .form-group
    %label{for: "password"} Password
    %input.form-control#password{type: :password, name: "password", autocomplete: "current-password", required: true, value: ""}

  .form-group
    %label{for: "new-password"} New Password
    %input.form-control#new-password{type: :password, name: "new-password", autocomplete: "new-password", required: true, value: ""} 

  .form-group
    %label{for: "password-confirm"} Confirm New Password
    %input.form-control#password-confirm{type: :password, name: "password-confirm", autocomplete: "new-password", required: true, value: ""} 

  .form-group
    %input.btn.btn-primary{type: :submit, value: "Change Password"}

!= partial("partials/rodauth_cancel_btn")
