- @page_title = "Change User Name"

%form.rodauth#change-user-name-form{action: "/change-user-name", method: :post, role: "form"}
  
  != csrf_tag("/change-user-name")
  
  .form-group
    %label{for: "user_name"} New User Name
    %input.form-control#user-name{type: :text, name: "user_name", required: true, value: "" }

  .form-group
    %label{for: "password"} Password
    %input.form-control#password{type: :password, name: "password", autocomplete: "current-password", required: true, value: ""} 

  .form-group
    %input.btn.btn-primary{type: :submit, value: "Change User Name"}

!= partial("partials/rodauth_cancel_btn")
