.row
  .col-sm-10.offset-sm-1.col-md-8.offset-md-2.col-lg-6.offset-lg-3.col-xxl-4.offset-xxl-4
    %a.d-block.btn.btn-secondary.w-100.mb-5{href: "/account"} Back to Account

    %h2.text-center.mb-4 Close Account

    .alert.alert-warning
      %p.mt-15.center-text This will permanently close your account and you won't be able to access it anymore.
      %p.mt-15.center-text Make sure you made a backup !

    .mb-5
      %a.d-block.btn.btn-primary.mb-3{href: "/export-data"} Take me to the export data page
      %a.d-block.btn.btn-primary{href: "/account"} I don't want to close my account


    %form#close-account-form{action: rodauth.close_account_path, method: :post, role: "form"}
      
      != csrf_tag(rodauth.close_account_path)

      .form-check.mb-3
        %input.form-check-input#confirm-delete-data{type: :checkbox, name: "confirm-delete-data", value: "confirm",  checked: false}
        %label.form-check-label{for: "confirm-delete-data"} I have backed up my data

      .form-group.mb-3
        %label.form-label{for: "password"} Password
        %input.form-control#password{type: :password, name: "password", autocomplete: "current-password", required: true, claue: ""}

      .form-group.mb-3
        %input.form-control.btn.btn-danger.btn-disabled#close_account_button{type: :submit, value: "Close Account"}

- content_for :js, assets([:js, :close_account])
