.w-200.center-block.center-text.mb-200
  %p.mt-100.fs-3.blod 404 ERROR
  %p.mt-50.fs-1-5.bold The page you want to access doesn't exist
  %a.block.w-180.center-block.mt-50.btn.btn-lg.bg-primary.white{href: "/entries"} Home Page
