- @page_title = 'Export data'

.row
  .col-sm-10.offset-sm-1.col-md-8.offset-md-2.col-lg-6.offset-lg-3.col-xxl-4.offset-xxl-4
    %a.d-block.w-50.mx-auto.btn.btn-secondary.mb-5{href: "/account"} Back to Account

    %h2.text-center.mb-4 Export Your Data

    %p.text-center.mb-5 Your data will be exported in a JSON text file, which is a very common file format

    %form{action: "/export-data", method: :post}
      
      !=csrf_tag("/export-data")
      
      %input.d-block.w-50.mx-auto.btn.btn-primary{type: :submit, value: "Download"}

