- @page_title = 'Export data'

%h2.mt-40.w-200.center-block.center-text.p-20.bg-gold.white.fs-1-5 Export Data

%p.mt-80.center-text Your data will be exported in a JSON text file, which is a very common file format

%form.mt-60.w-300.center-block{action: "/export-data", method: :post}
  
  !=csrf_tag("/export-data")
  
  %input.mt-30.w-200.center-block.btn.bg-primary.white.lh-2{type: :submit, value: "Download"}

!= partial("partials/rodauth_cancel_btn")

