- @page_title = "Log In"

%h2.w-250.mt-50.center-block.center-text.fs-2.bg-gold.white.p-15 Log In

%form.rodauth#login-form{method: :post, role: "form", action: rodauth.login_path}
  
  != csrf_tag(rodauth.login_path)

  .form-group
    %label{for: "login"} Email
    %input.form-control#login{type: :email, name: "login", value: "", required: true, autofocus: true} 

  .form-group
    %label{for: "password"} Password
    %input.form-control#password{type: :password, name: "password", value: "", required: true, autocomplete: "current-password"}

  .form-group
    %input.btn.btn-primary{type: :submit, value: "Log In"}

%h2.rodauth-login-form-footer-links-heading Not yet an account ?
%ul.rodauth-links.rodauth-login-footer-links
  %li
    %a{href: rodauth.create_account_path} Create a New Account
