%h2.center-text Setup Multifactor Authentication

%ul
  %li
    %a.block.btn.bg-primary.white{href: rodauth.two_factor_manage_path} View Authentication Recovery Code
  %li.mt-10
    %a.block.btn.bg-primary.white{href: "/change-user-name"} Change User Name

%h2 Remove Multifactor Authentication

<ul class="rodauth-links rodauth-multifactor-remove-links">
<li><a href="/otp-disable">Disable TOTP Authentication</a></li>

</ul>
