- @page_title = "Reset Password"

%h2.w-250.mt-50.center-block.center-text.fs-2.bg-gold.white.p-15 Reset Password

%form.rodauth#reset-password-request-form{action: rodauth.reset_password_request_path, method: :post, role: "form"}
  
  !=csrf_tag(rodauth.reset_password_request_path)

  .form-group
    %label{for: "login"} Email
    %input.form-control#login{type: :email, name: "login", autocomplete: "email", required: true, value: ""} 

  .form-group
    %input.btn.btn-primary{type: :submit, value: "Password Reset"}
