- @page_title = "Security Log"

%a.d-block.btn.btn-secondary.w-50.mx-auto.mb-5{href: "/account"} Back to Account

%h2.text-center.mb-3 Security Log

%p.mb-5.text-center Review the access to your account

.row
  .col-lg-10.offset-lg-1.col-xl-8.offset-xl-2
    %table.table.text-center
      %thead
        %td ACTION
        %td DATE
        %td IP
      %tbody
        - @security_logs.each do |security_log|
          %tr
            %td{class: format_auth_log_action(security_log[1])}!= security_log[1] 
            %td!= security_log[0].strftime("%a %d %b %Y - %k:%M:%S")
            %td!= JSON.parse(security_log[2])["ip"]




