- @page_title = "400 - Bad Request"

.w-200.center-block.center-text.mb-200
  %p.mt-100.fs-3.blod 400 ERROR - BAD REQUEST
  %p.mt-50.fs-1-5.bold The request you made has incorrect syntax
  %a.block.w-180.center-block.mt-50.btn.btn-lg.bg-primary.white{href: "/entries"} Home Page
