- @page_title = "403 - Forbidden"

.w-200.center-block.center-text.mb-200
  %p.mt-50.fs-3.blod 403 ERROR
  %p.mt-50.fs-1-5.bold You don't have access to the page you requested
  %p.mt-20.fs-1-5.bold This will be reported
  %a.block.w-180.center-block.mt-50.btn.btn-lg.bg-primary.white{href: "/entries"} Home Page
