body {
  font-family: 'Ubuntu', sans-serif;
}

.tooltip {
  position: relative;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  top: -5px;
  right: 105%;
}

.tooltip-text {
  display: inline-block;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.flash {
  width: 300px;
  margin: 30px auto;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  padding: 15px 0;
}

.flash-notice {
  color: green;
  border-color: green;
  background-color: lightgreen;
}

.flash-error {
  color: red;
  border-color: red;
  background-color: tomato;
}

/* RODAUTH FORMS */

.rodauth {
  width: 300px;
  margin: 50px auto 0 auto;
}

.form-group {
  margin-top: 30px;
}

.form-group label,
.form-group input {
  text-align: center;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.form-group input {
  margin-top: 15px;
  border-radius: 3px;
  line-height: 2rem;
  border-color: lightblue;
}


.form-group input[type=submit] {
  background-color: var(--primary-color);
  color: white;
}

.rodauth-login-form-footer-links-heading {
  width: 200px;
  margin: 40px auto 20px auto;
  text-align: center;
}

.rodauth-login-footer-links {
  width: 300px;
  margin: 20px auto;
}

.rodauth-login-footer-links li {
  width: 200px;
  margin: 20px auto;
  text-align: center;
  background-color: var(--secondary-color);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}

#close_account_button {
  background-color: var(--danger-color);
}
