%h3.text-center.mb-4= rodauth.create_account_button

.form-group.mb-3
  %label.mb-1{for: "user_name"} User name
  %input.form-control#user_name{type: :text, name: "user_name", required: true, value: ""}
