%a.d-block.btn.btn-secondary.w-50.mx-auto.mb-5{href: "/account"} Back to Account

%h3.text-center.mb-3 Disable Two Factor Authentication 

.alert.alert-danger
  %p
    Please note that disabling two factor authentication will permantly invalidate:
    %br
    %br
    \- the codes your 2FA app generates for this website
    %br
    \- all your recovery codes
  %p If you want to setup 2FA again, you will need to start the process again, and new recovery codes will be generated.
