%body{style: "font-family: Arial, sans-serif"}
  %h1{style: "width: 200px; margin: 25px auto 0 auto; text-align: center; font-size: 2rem, font-weight: 300"}
    %a{href: 'https://localhost:9292/entries', style: "text-decoration: none; color: inherit" } Weight Tracker

  %h2{style: "text-align: center"} Your Password has been changed

  %p Someone has modified the password for the account linked to this email.

  %p If it's not you, you should immediatly go to the site and verify you have access to your account. If not, you should contact the Team to to lock your account.

  %small The Weight Tracker Team

