%body{style: "font-family: Arial, sans-serif"}
  %h1{style: "width: 200px; margin: 25px auto 0 auto; text-align: center; font-size: 2rem, font-weight: 300"}
    %a{href: 'https://localhost:9292/entries', style: "text-decoration: none; color: inherit" } Weight Tracker

  %h2{style: "text-align: center"} Your Password has been reset

  %p
    Hi,
    %br
    You recently requested a password reset, and this mail simply to confirm that it has effectively been reset.
  
  %p If you did not request the password reset, please check your account and in if needed, contact the administrator.

  %p
    %small The Weight Tracker Team

