%body{style: "font-family: Arial, sans-serif"}
  %h1{style: "width: 200px; margin: 25px auto 0 auto; text-align: center; font-size: 2rem, font-weight: 300"}
    %a{href: 'https://localhost:9292/entries', style: "text-decoration: none; color: inherit" } Weight Tracker

  %h2{style: "text-align: center"} You have requested an email change for your account

  %ul
    %li Old Email: #{old_email}
    %li New Email: #{new_email}

  %p If you did not request this email change, please ignore this message.

  %p If you did request it, please click the link below or copy it into your browser to confirm the email change

  %p
    %a{href: rodauth.verify_login_change_email_link}!= rodauth.verify_login_change_email_link

  %p
    %small The Weight Tracker Team



